includes:
    - vendor/hanaboso/php-check-utils/phpstan.neon # hanaboso rules

parameters:
    excludes_analyse:
        - tests/Live/*
    ignoreErrors:
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/testsCommonsBundleTests_KernelTestDebugContainer.xml

